################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/node_modules/@bcoe/v8-coverage
/node_modules/.bin
/node_modules/parse-json
/node_modules/normalize-package-data
/node_modules/load-json-file
/node_modules/json-parse-better-errors
/node_modules/is-core-module
/node_modules/is-arrayish
/node_modules/hosted-git-info
/node_modules/hasown
/node_modules/furi
/node_modules/function-bind
/node_modules/error-ex
/node_modules/coverage
/node_modules/c8
/node_modules/@types
/node_modules/validate-npm-package-license
/node_modules/v8-to-istanbul/test/v8-to-istanbul.js
/node_modules/v8-to-istanbul/test/utils/run-fixture.js
/node_modules/v8-to-istanbul/test/utils
/node_modules/v8-to-istanbul/test/source.js
/node_modules/v8-to-istanbul/test/fixtures/source-map-minified.js
/node_modules/v8-to-istanbul/test/fixtures/shebang.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/sourcemap-source.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/shebang.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/mixed-newlines.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/functions.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/branches.js
/node_modules/v8-to-istanbul/test/fixtures/scripts/branches.covered.js
/node_modules/v8-to-istanbul/test/fixtures/scripts
/node_modules/v8-to-istanbul/test/fixtures/mixed-newlines.js
/node_modules/v8-to-istanbul/test/fixtures/functions.js
/node_modules/v8-to-istanbul/test/fixtures/branches.js
/node_modules/v8-to-istanbul/test/fixtures
/node_modules/v8-to-istanbul/test
/node_modules/v8-to-istanbul/tap-snapshots/test-v8-to-istanbul.js-TAP.test.js
/node_modules/v8-to-istanbul/tap-snapshots
/node_modules/v8-to-istanbul/renovate.json
/node_modules/v8-to-istanbul/README.md
/node_modules/v8-to-istanbul/package.json
/node_modules/v8-to-istanbul/node_modules/source-map/source-map.js
/node_modules/v8-to-istanbul/node_modules/source-map/source-map.d.ts
/node_modules/v8-to-istanbul/node_modules/source-map/README.md
/node_modules/v8-to-istanbul/node_modules/source-map/package.json
/node_modules/v8-to-istanbul/node_modules/source-map/LICENSE
/node_modules/v8-to-istanbul/node_modules/source-map/lib/wasm.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/util.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/url.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/source-node.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/source-map-generator.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/source-map-consumer.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/read-wasm.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/read-wasm-browser.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/mappings.wasm
/node_modules/v8-to-istanbul/node_modules/source-map/lib/mapping-list.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/binary-search.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/base64.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/base64-vlq.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib/array-set.js
/node_modules/v8-to-istanbul/node_modules/source-map/lib
/node_modules/v8-to-istanbul/node_modules/source-map
/node_modules/v8-to-istanbul/LICENSE.txt
/node_modules/v8-to-istanbul/lib/v8-to-istanbul.js
/node_modules/v8-to-istanbul/lib/source.js
/node_modules/v8-to-istanbul/lib/pathutils.js
/node_modules/v8-to-istanbul/lib/line.js
/node_modules/v8-to-istanbul/lib/function.js
/node_modules/v8-to-istanbul/lib/branch.js
/node_modules/v8-to-istanbul/lib
/node_modules/v8-to-istanbul/index.js
/node_modules/v8-to-istanbul/index.d.ts
/node_modules/v8-to-istanbul/CHANGELOG.md
/node_modules/v8-to-istanbul/.travis.yml
/node_modules/v8-to-istanbul
/node_modules/supports-preserve-symlinks-flag/test/index.js
/node_modules/supports-preserve-symlinks-flag/test
/node_modules/supports-preserve-symlinks-flag/README.md
/node_modules/supports-preserve-symlinks-flag/package.json
/node_modules/supports-preserve-symlinks-flag/LICENSE
/node_modules/supports-preserve-symlinks-flag/index.js
/node_modules/supports-preserve-symlinks-flag/CHANGELOG.md
/node_modules/supports-preserve-symlinks-flag/browser.js
/node_modules/supports-preserve-symlinks-flag/.nycrc
/node_modules/supports-preserve-symlinks-flag/.github/FUNDING.yml
/node_modules/supports-preserve-symlinks-flag/.github
/node_modules/supports-preserve-symlinks-flag/.eslintrc
/node_modules/supports-preserve-symlinks-flag
/node_modules/spdx-license-ids
/node_modules/spdx-expression-parse
/node_modules/spdx-exceptions
/node_modules/spdx-correct
/node_modules/slash
/node_modules/resolve
/node_modules/read-pkg-up
/node_modules/read-pkg
/node_modules/pseudomap
/node_modules/pify
/node_modules/path-type
/node_modules/path-parse
